{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <h1>Team</h1>
    <h2><a href="https://www.hdgoe.at/ueber-uns/">Nicole-Melanie Goll</a></h2>
    <p>Mag.<sup>a</sup>  Dr.<sup>in</sup></p>
    <p>Historikerin</p>
    <p>1982 in Graz geboren, Studium der Geschichte an der Karl-Franzens-Universität Graz, 2007–2014 Doktorat an der Andrassy Universität Budapest und der Universität Graz, 2010–2017 wissenschaftliche Mitarbeiterin und Lecturer am Fachbereich Zeitgeschichte des Instituts für Geschichte der Universität Graz, zudem wissenschaftliche Mitarbeit an zahlreichen Forschungsprojekten des Bundesministeriums für Landesverteidigung und Sport (BMLVS) und kuratorische Tätigkeiten, zuletzt 2014 Ausstellung „Die Steiermark und der Große Krieg“ des Universalmuseums Joanneum.</p>
    <p>Seit September 2017 wissenschaftliche Mitarbeiterin am Haus der Geschichte Österreichs im Rahmen des von der Österreichischen Akademie der Wissenschaften und dem Zukunftsfonds der Republik Österreich geförderten Forschungsprojektes „Downed Allied Air Crew Database Austria“.</p>
    <h4>Forschungsschwerpunkte</h4>
    <p>Zeitalter der Weltkriege, mit Schwerpunkt auf Europa (Luftkrieg im 1. und 2. Weltkrieg; NS-Kriegsverbrechen und Nachkriegsjustiz, Heimatfront, Propaganda, Genese und Funktion von Heldenfiguren, Propaganda, Fürsorgepolitik in Österreich-Ungarn)</p>
    <h4>Aktuelle Publikationen</h4>
    <ul>
        <li>(mit Katharina Dick, Georg Hoffmann), Bombenkrieg in Graz, Salzburg 2017</li>
        <li>(mit Harald Heppner, Georg Hoffmann), Globaler Krieg. Visionen und ihre Umsetzung, Wien 2017</li>
        <li><a href="http://www.bundesheer.at/download_archiv/pdfs/missing_in_action.pdf">(mit Georg Hoffmann), Missing in Action – Failed to Return. Ein Gedenkbuch, Wien 2016</a></li>
        <li>(mit Werner Suppanz), Heimatfront Steiermark. Der Erste Weltkrieg auf lokaler/regionaler Ebene. (Klartext Verlag), (erscheint 2018)</li>
    </ul>
    <h2><a href="https://www.hdgoe.at/ueber-uns/">Georg Hoffmann</a></h2>
    <p>Mag. Dr. phil.</p>
    <p>Historiker, Studium der Geschichte an der Karl-Franzens-Universität Graz, Doktoratsstudium an der Karl-Franzens-Universität Graz sowie der Andrassy Universität Budapest, von 2009–2017 wissenschaftlicher Mitarbeiter bzw. Lecturer am Institut für Geschichte der Universität Graz (Fachbereich Zeitgeschichte), 2013 Research Fellow am Center Austria der University of New Orleans, Mitarbeit an zahlreichen Forschungsprojekten des Bundesministeriums für Landesverteidigung und Sport (BMLVS) sowie kuratorische Tätigkeiten, zuletzt 2015/2016 Ausstellung „41 Tage. Kriegsende 1945 – Verdichtung der Gewalt“ (Akademie der Wissenschaften/BMLVS/Universität Graz). Seit April 2017 Kurator am Haus der Geschichte Österreich.</p>
    <h4>Forschungsschwerpunkte</h4>
    <p>Sozial- und Kulturgeschichte von Gewalt und Krieg (besonders im Luftkrieg), Nationalsozialismus, TäterInnenforschung, Österreichische Geschichte</p>
    <h4>Aktuelle Publikationen</h4>
    <ul>
        <li>Hoffmann, Georg: »Vergeltung« im Bombenkrieg. Lynchjustiz an alliierten Flugzeugbesatzungen in Deutschland, Österreich und Ungarn 1943-1945, in: Oliver von Wrochem (Hg.): Repressalien und Terror. “Vergeltungsaktionen“ im deutsch besetzten Europa 1939–1945, Paderborn 2017, S. 249-265</li>
        <li>(mit Katharina Dick, Nicole-Melanie Goll), Bombenkrieg in Graz, Salzburg 2017</li>
        <li>(mit Harald Heppner, Nicole-Melanie Goll), Globaler Krieg. Visionen und ihre Umsetzung, Wien 2017</li>
        <li><a href="http://www.bundesheer.at/download_archiv/pdfs/missing_in_action.pdf">(mit Nicole-Melanie Goll), Missing in Action – Failed to Return. Ein Gedenkbuch, Wien 2016</a></li>
        <li>“Fliegerlynchjustiz”. Gewalt gegen abgeschossene alliierte Flugzeugbesatzungen 1943-1945 (Krieg in der Geschichte Bd. 88), Paderborn 2015.</li>
    </ul>
    <h2><a href="https://www.oeaw.ac.at/acdh/team/current-team/martin-kirnbauer/">Martin Kirnbauer</a></h2>
    <p>BA</p>
    <p>Bis 2012 Fachhochschulstudium Informationsberufe in Eisenstadt, seit 2015 Masterstudium Geschichte mit Schwerpunkt Zeitgeschichte an der Universität Wien. Ab 2011 im Medienbereich und einem juristischen Fachverlag tätig, elektronisches Publizieren. Seit 2017 am Austrian Centre for Digital Humanities (ACDH) der Österreichischen Akademie der Wissenschaften, Wien.</p>
    <h2><a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-andorfer/">Peter Andorfer</a></h2>
    <p>Mag. Dr. phil.</p>
    <p>Studium der Geschichte und Germanistik an der Universität Innsbruck; wissenschaftlicher Mitarbeiter an der Herzog-August-Bibliothek Wolfenbüttel im Projekt DARIAH-DE. Seit 2015 wissenschaftlicher Mitarbeiter am Austrian Centre for Digital Humanities (ACDH) der Österreichischen Akademie der Wissenschaften.</p>
</div>

{% endblock %}
